
{{template "header" .}}
<div class="px-6">
	<h1 class="py-4 text-4xl semibold tracking-tight">contact page</h1>
<p class="text-gray-800">get in touch with us<a href="himanshu.com">click here to do a mail</a></p>
{{template "footer" .}}